:root {
  --display-font: "Monoton", cursive;
  --header-font: "Comfortaa", cursive;
  --body-font: "Roboto Flex", sans-serif;
  --gray: #696d7d;
  --green: #6f9283;
  --artichoke: #8d9f87;
  --sage: #cdc6a5;
  --beige: #f0dcca;
}

html {
  background-color: var(--green);
}
